body {
    /*background: linear-gradient(90deg, #0A0529 0%, #0E055D 66%, #25204E 100%);*/
 background-color: black;
}

.btn {
    background: none;
    text-align: center;
    border: solid 5px black;
    border-radius:35px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(70, 4, 78);
    font-size: xx-large;
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;

}


button:hover {
    border: solid 5px rgb(70, 4, 78);
    color: rgb(70, 4, 78);
    transform: translateY(-10px);
    background-color: black;
    

}


a {
    text-decoration: none;
    color: aliceblue;

}

.p1 {
    margin-top: 5%;
    color: aliceblue;
    text-align: left;
    

}

.p2 {
    color: aliceblue;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    animation-name: slideinleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.p3 {
    animation-name: slideinright;
}

button {
    color: #0A0529;
    border: solid rgb(46, 6, 34);
    background: rgb(0, 0, 0);
    color: rgb(46, 6, 34);
    text-decoration: none;
    margin-bottom: 10px;
}

.LRM {
    background: none;
    text-align: center;
    border: solid 5px black;
    border-radius: 35px;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(70, 4, 78);
    font-size: xx-large;
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    float: left;
}

.solar {
    display: block;
    width: 100%;
    height: 800px;
    border-radius: 25px;
    float: left;
    margin-bottom: 3%;
    animation-name: obraz;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

.h1 {
    border: solid 0px black;
    padding: 0x;
    border-radius: 30px;
    padding-left: 3%;
    margin-left: 35%;
    margin-right: 35%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-left: 1px dotted;
    border-right: 1px dotted;
    float: unset;
}



@keyframes slideinleft {
    from {
        transform: TranslateX(-200px)
    }

    to {
        transform: TranslateX(0)
    }
}

@keyframes slideinright {
    from {
        transform: TranslateX(200px)
    }

    to {
        transform: TranslateX(0)
    }
}

@keyframes obraz {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateX(0);
    }
}
